# OpenAI provider
OPENAI_API_KEY=

# LangSmith tracing
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=naive-rag-production

# Groq chat model provider
GROQ_API_KEY=

# Chroma Cloud vector database
CHROMA_HOST=api.trychroma.com
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=rag
