faiss-cpu>=1.8.0
chromadb>=1.0.0
fastapi>=0.115.0
langchain>=0.2.16
langchain-chroma>=0.2.0
langchain-community>=0.2.16
langchain-core>=0.2.38
langchain-groq>=0.2.0
langchain-openai>=0.1.23
langchain-text-splitters>=0.2.4
langsmith>=0.1.95
pydantic>=2.7.0
pydantic-settings>=2.3.0
python-dotenv>=1.0.1
PyYAML>=6.0.1
pypdf>=4.2.0
python-multipart>=0.0.9
typer>=0.12.3
uvicorn[standard]>=0.30.0
